<%- include("partials/header") %>
    <% if(data==undefined){ %>
        <h1>Not Found</h1>
        <h3>No such Movie in our database</h3>
    <% } else if(data!= undefined) {%>
        <h1>Movies Found</h1>
    <div class="ui four column fluid container stackable grid">

        <% data.forEach((movie)=>{%>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= movie.Poster %>">
                </div>
                <div class="content">
                    <a class="header"><%= movie.Title%> </a>
                    <div class="meta">
                        <span class="date">Released in <%= movie.Year %> </span>
                    </div>
                    <div class="description">

                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        Reviews Here
                    </a>
                </div>
            </div>
        </div>
        <% })%>
    </div>
    <%}%>
    <% if(data2[0] == undefined){ %>
        <h3>No such Event in our database</h2>
    <% } else if(data2[0] != undefined) { console.log(data2)%>

    <div class="ui three column container grid">
        <% data2.forEach((event)=>{%>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= event.image %>">
                </div>
                <div class="content">
                    <a class="header"><%= event.name %> </a>
                    <div class="meta">
                       <% if(event.date!=null){%> <span class="date"> On <%= event.date.toDateString()  %> </span> <% }%>
                    </div>
                    <div class="description">
                       <%= event.description %>
                    </div>

                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        Reviews Here
                    </a>
                </div>
            </div>
        </div>
        <% })%>
    </div>
    <%}%>
<%- include("partials/footer") %>